<div class="version-container">
  <div class="dev-contact">
    For issues with this website please contact:
    <button class="beauty-btn">
      <a class="link" href="mailto:billycoda@killerkuff.com">billycoda@killerkuff.com</a>
    </button>
  </div>
  <div class="admin-access">
    Admin access:
    <button class="beauty-btn" (click)="loginModalShow()">
      <a class="link">LOGIN</a>
    </button>
  </div>

  <div *ngIf="loginModal" class="login-modal">
    <div class="login-container" (click)="loginModalHide()">
      <div class="login-box" (click)="badTouch($event)">
        <div class="input-box">
          <input type="username" class="input username" />
        </div>
        <div class="input-box">
          <input type="password" class="input password" />
        </div>
        <div class="input-box">
          <button class="better-btn" (click)="tryLogin()" routerLink="/administration">Go to Admin Page</button>
        </div>
      </div>
    </div>
  </div>

  <br />
  <div class="patch-notes">
    <div class="header">
      Version Notes
    </div>
    <hr />
    <!-- patch divider -->
    <br />
    <div class="patch-number">
      V1.1.0
    </div>
    <ul class="patch-notes-list">
      <li>
        Site now hosted at 'https://killerkuff.com'
      </li>
      <li>
        Support email implemented and live
      </li>
    </ul>
    <!-- patch divider -->
    <br />
    <div class="patch-number">
      V1.0.0
    </div>
    <ul class="patch-notes-list">
      <li>
        Basic site structure with component and 404 routing implemented
      </li>
      <li>
        Hosted using GitHub Pages and Google Firebase
      </li>
      <li>
        Placeholder photos in place for homepage slideshow and gallery - gallery photos now zoom to full size upon click
      </li>
      <li>
        Placeholder information used in Bio and Contact pages
      </li>
      <li>
        Artwork marketplace linked in Contact page - future plans to implement local marketplace
      </li>
      <li>
        Patch notes implemented
      </li>
    </ul>
    <!-- patchouli dividisimo -->
    <br />
    <div class="patch-number">
      Candidates for future implementation
    </div>
    <ul class="patch-notes-list">
      <li class="strikeout">
        Site will be migrated to 'http://killerkuff.com'
      </li>
      <li>
        Marketplace integration/creation
      </li>
      <li class="strikeout">
        Support email and email routing
      </li>
      <li>
        Enhance gallery with zoom function
      </li>
      <li>
        Style details
      </li>
      <li>
        Mobile version
      </li>
      <li>
        Administration page and authentication/authorization and upload functionality
      </li>
    </ul>
  </div>
</div>
