#image-selector {
  display: none;
}

.btn {
  padding: 1%;
  margin: 1%;
}

#image-item {
  border-collapse: collapse;
  width: 100%;
}

#image-item td, #image-item th {
  border: 1px solid #ddd;
  padding: 8px;
}

#image-item tr:nth-child(even){background-color: #f2f2f220;}

#image-item tr:hover {background-color: rgba(221, 221, 221, 0.253);}

#image-item th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgba(197, 50, 50, 0.35);
  color: white;
}

.move-up {
  cursor: pointer;
  text-align: center;
  float: left;
  height: 90%;
  width: 25%;
  border: solid 2px rgba(158, 39, 39, 0.35);
  background-color: rgba(197, 50, 50, 0.35);
}

.move-down {
  cursor: pointer;
  text-align: center;
  float: right;
  height: 90%;
  width: 25%;
  border: solid 2px rgba(158, 39, 39, 0.35);
  background-color: rgba(197, 50, 50, 0.35);
}

.list-scroller {
  border: solid 2px rgba(0, 0, 0, 0.2);
  height: 30vh;
  overflow-y: auto;
}

.collapse-btn {
  color: white;
  border-top: solid 1px blanchedalmond;
  border-bottom: solid 1px blanchedalmond;
  cursor: pointer;
}

.arrow {
  float: right;
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  padding: 4px;
  margin: auto 10px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.errors {
  overflow: hidden;
  margin: 10px;
  width: 100%;
  text-align: center;
}

.float {
  float: right;
}
