<div class="image-move">
  <h3 class="collapse-btn" (click)="toggleCollapse()">
    Reorder images
    <span *ngIf="!collapsed" class="arrow down"></span>
    <span *ngIf="collapsed" class="arrow up"></span>
  </h3>
  <span *ngIf="collapsed">
    <table id="image-item">
      <thead>
        <tr>
          <th>Order</th>
          <th>Name</th>
          <th>Type</th>
          <th>Controls</th>
        </tr>
      </thead>
      <tbody>
        <tr class="image-list" *ngFor="let image of imageMetadata; let i = index">
            <td class="index">{{ image.index }}</td>
            <td class="name">{{ image.name }}</td>
            <td class="type">{{ image.type }}</td>
            <td class="controls">
              <span class="move-up" (click)="moveUp(i)">Up</span>
              <span class="move-down" (click)="moveDown(i)">Down</span>
            </td>
        </tr>
      </tbody>
    </table>
    <div class="errors">{{ errMessage }}</div>
    <div class="link" (click)="saveConfig()">
      Save Configuration
    </div>
    <div class="link float" (click)="resetConfig()">
      Reset Configuration
    </div>
  </span>
</div>
