#image-selector {
  display: none;
}

.btn {
  padding: 1%;
  margin: 1%;
}

.list-scroller {
  border: solid 2px rgba(0, 0, 0, 0.2);
  height: 30vh;
  overflow-y: auto;
}

.collapse-btn {
  border-top: solid 1px blanchedalmond;
  border-bottom: solid 1px blanchedalmond;
  cursor: pointer;
}

.arrow {
  float: right;
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  padding: 4px;
  margin: auto 10px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
