.admin-container {
  color: cornsilk;
  position: absolute;
  top: 20vh;
  left: 12vw;
  height: 75vh;
  width: 76vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.header {
  position: absolute;
  top: 15vh;
  left: 45vw;
  text-align: center;
  color: blanchedalmond;
  font-size: 1.5rem;
}
