.admin-container {
    color: cornsilk;
    position: absolute;
    top: 30vh;
    left: 25vw;
    height: 60vh;
    width: 50vw;
}

#image-selector {
    display: none;
}

.btn {
    padding: 1%;
    margin: 1%;
}