.gallery-container {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 20vh;
  left: 10vw;
  height: 70vh;
  width: 80vw;
}

.gallery-photos {
    display: inline;
}

.image-container {
    display: inline-block;
    height: 30%;
    width: 20%;
    padding: 2.5%;
}

.images-g {
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

img {
  color: whitesmoke;
}

.err {
    color: blanchedalmond;
    text-align: center;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
}

.image-modal {
    color: whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 4;
    text-align: center;
}

.modal-image-container {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    z-index: 5;
}

.images-full {
    padding: 0;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    z-index: 6;
}
